<h1>{{ name }}</h1>
<h2>age: {{ age }}</h2>

<p>{{ price / 4 }}</p>

<!-- <p>{{ studentsList[0].name }}</p> -->

<!-- <div *ngIf="studentsList.length > 0">
    <h3>student list</h3>
    <ol>
        <li *ngFor="let studenet of studentsList">{{ studenet.name }}</li>
    </ol>
</div> -->

<!-- <div *ngIf="toDo.length > 0">
    <h3>ToDo List</h3>
    <ul>
        <li *ngFor="let item of toDo; let i = index">{{ item }} <button (click)="onDeleteItem(i)">x</button></li>
    </ul>
    <input type="text" [(ngModel)]="selectedItem">
    <p>{{ selectedItem }}</p>
    <button (click)="onAddItem(listItem)">Add Item</button>
</div> -->